@charset "utf-8";
@import url("reset.css");
@import url("common.css");

.line_con_index{border-top: 2px solid #52534e; border-bottom:none; margin-top:30px;}

/*==================================
*** 焦点图片 - foc_img ***
==================================*/
.foc_img{width:100%; overflow:hidden; position:relative; margin-top:-10px;}
.swiper-container {width: 100%;  height: 100%;}
.swiper-container .swiper-slide {text-align:center; background: #fff; /* Center slide text vertically */display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.swiper-container-horizontal>.swiper-pagination{position:relative; margin: 0 auto; width:100%; height:30px; bottom:0; top:-30px; text-align:center;}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:5px 4px; width:4px; height:4px; border:2px solid #404e57; border-radius:4px; background-color:none;}
.swiper-pagination-bullet{opacity:1; background-color:transparent;}
.swiper-pagination-bullet-active{background-color:#404e57; opacity:1;}

/*==================================
*** 主页菜单 - main_nav ***
==================================*/
.main_nav{margin:50px auto;}
.main_nav li{margin-bottom:20px; height:54px; width:25%; float:left;}
.main_nav li a{height:54px; line-height:54px; display:block; border-right:1px solid #52534e; color:#52534e; font-size:20px; text-align:center;}
.main_nav li.last a{border-right:none;}

@media (max-width: 600px) {
	/*** 主页菜单 - main_nav ***/
	.main_nav{margin:20px auto;}
	.main_nav li{margin-bottom:20px; height:42px;}
	.main_nav li a{font-size:16px; height:42px; line-height:42px;}
}
@media (max-width: 420px) {
	/*** 主页菜单 - main_nav ***/
	.main_nav{margin:10px auto;}
	.main_nav li{margin-bottom:10px; height:30px;}
	.main_nav li a{font-size:14px; height:30px; line-height:30px;}
}
@media (max-width: 375px) {
	/*** 主页菜单 - main_nav ***/
	.main_nav{margin:0 auto;}
	.main_nav li{margin-bottom:10px; height:26px;}
	.main_nav li a{font-size:12px; height:26px; line-height:26px;}
}